


/* Activity 1 */
.container1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    gap: 20px;
  
  }
  
  h1, h2{
    font-size: 2em;
    text-align: center;
    
  }
  
  
  .red1{
    background:red;
    width: 100%;
    height: 100px;
    grid-column: 1/3;
  }
  
  
  .green1{
    width: 200px;
    height: 200px;
    background-color: green;
    }
  
  
  .yellow1{
    width:200px;
    height: 200px;
    background-color: gold;
    
  }
  
  .blue1{
    background: blue;
    width:100%;
    height: 100px;
    grid-column: 1/3;
    
  
  }
  
  
  
  /* Activity 2 */
  
  .container2{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 90px  minmax(100px); 
  
  
  
  }
  
  
  
  
  .red2{
    width: 100px;
    height: 100px;
    background: red;
    grid-column: 1/3;
    grid-row: 1/3;
  
    
  }
  
  
  .green2{
    width: 100px;
    height: 100px;
    background: green;
    grid-column: 2/4;
    grid-row: 2/4;
  
   
  
  
  }
  
  .yellow2{
    width: 100px;
    height: 100px;
    background: yellow;
    grid-column: 3/5;
    grid-row: 3/5;
  
   
  
    
  }
  
  .blue2{
    width: 100px;
    height: 100px;
    background: blue;
    grid-column: 4/6;
    grid-row: 4/6;
  
   
    
  }
  
  
  
  /* Activity 3 */
  
  .container3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  
  
   
  
  }
  
  
  .red3{
    width: 100%;
    height:100px ;
    background: red;
    grid-column: 1/3;
  
  
  }
  
  
  .green3{
    width: 400px;
    height: 200px;
    background: green;
    
    
  }
  
  .yellow3{
    width: 400px;
    height: 200px;
    background: yellow;
    grid-column: 2/3;
    justify-self: end;
    
   
  }
  
  .blue3{
    width: 100%;
    height: 100px;
    background: blue;
    grid-column: 1/3;
  }
  
  
  /* Activity 4 */
  .container4{
  display: grid;
  /* grid-template-columns: 100px 100px; */
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  }
  
  
  .red4{
    width: 100px;
    height: 100px;
    background: red;
   
  
  }
  
  .green4{
    width: 100px;
    height:100px;
    background: green;
  
  }
  
  .green4{
    width: 100px;
    height:100px;
    background: green;
   
  }
  
  
  .yellow4{
    width: 100px;
    height: 100px;
    background: red;
  
   
  }
  
  .blue4{
    width: 100px;
    height: 100px;
    background:blue;
    
  
  }
  
  
  
  
  .blue5{
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/3;
    
  
  }