*{
    margin: 0px;
    padding: 0px;
}


body{
  width: 100%;
    background-color: whitesmoke;
    min-height: 100vh;
}

.special_button{
    margin-left:90%; 
    height: 70px;
    width: 100px;
    background-color: lightskyblue;
 }
 
 .special_button a{
     text-decoration: none;
 }


.image-1{
    width: 100%;
    height: 500px;
   

}

p{
    position: absolute;
    text-align: center;
    top: 50%;
    left:50%;
    transform: translate(-50%, -70%);
    color: white;
    font-size: 50px;
}


.team{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    margin-top: 50px;
    gap: 50px;
}


.title{
     border-radius: 10px;
      
}


h4{
    font-size: 20px;
    margin-left: 50px;
    color: #0582CA;
}

.mobile{
  margin-left: 10px;
  cursor: pointer;
}

.web{
  margin-left: 10px;
  cursor: pointer;
}


.team-info{
  color: #0582CA;
}

.name{
    font-size: 15px;
    margin-left: 130px;
    color: grey;
}

h3{
  color: #0582CA;
  margin: 15px;
  font-family: 'Roboto';
}

.div-1{
    height: 10px;
}
.next{
    height: 20px;
}


.footer-1{
    background-color: #0582CA;
    color: white;
    text-align: center;
    margin-top: auto;
    height: 60px;
    width: 100%;
    padding: 10px;
   
}

.purple{
  color: #1ec276;
  font-family: 'Roboto';
}


.purple:hover{
  color: yellow;

}

.logo{
  border-radius: 50px;
}


body {
  font-family: 'Roboto';
}
form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.link{
  text-decoration: none;
  margin-left: 1100px;
  color: yellow;
  font-size: 20px;
 font-family: 'Roboto';
} 


.link:hover{
  background-color: #1ec276;
}

label{
  color: #0582CA;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #0582CA;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.container{
  width: 40%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
